@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.customer-reviews-section {
  padding-top: 80px;
  padding-bottom: 86px;
}

.customer-reviews {
  text-align: center;
}

.customer-reviews__img {
  margin-bottom: 25px;
}

.customer-reviews__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  padding: 43px 66px 26px 57px;
  background-color: var(--customer-back-color);
}

.customer-reviews__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: var(--description-color);
  background-image: repeating-linear-gradient(to top, var(--repeating-linear-gradients-color), var(--repeating-linear-gradients-color) 1px, transparent 1px, transparent 31px);
}

.customer-reviews__icon {
  position: absolute;
  top: 26px;
  left: 28px;
  fill: var(--quotes-color);
  opacity: 0.7;
}

.customer-reviews__text-place {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
}

.ellipse-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.ellipse-list__item::before {
  content: "";
  width: 4px;
  height: 4px;
  display: inline-block;
  background: var(--ellipse-color);
  border-radius: 50%;
}

.ellipse-list__item:not(:last-child) {
  margin-right: 10px;
}

.slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-list__item:not(:last-child) {
  margin-right: 18px;
}

.gallery-section {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, var(--advantages-color)), color-stop(0%, var(--text-color)));
  background-image: linear-gradient(var(--advantages-color) 40%, var(--text-color) 0%);
}

.gallery-section__img {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */