@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.customer-reviews-section {
  padding-top: 80px;
  padding-bottom: 86px;
}

.customer-reviews {
  text-align: center;
}

.customer-reviews__img {
  margin-bottom: 25px;
}

.customer-reviews__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  padding: 43px 66px 26px 57px;
  background-color: #fafafa;
}

.customer-reviews__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: black;
  background-image: repeating-linear-gradient(to top, #e1e1e1, #e1e1e1 1px, transparent 1px, transparent 31px);
}

.customer-reviews__icon {
  position: absolute;
  top: 26px;
  left: 59px;
  fill: #e1e1e1;
  opacity: 0.7;
}

.customer-reviews__text-place {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
}

.ellipse-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.ellipse-list__item::before {
  content: "";
  width: 4px;
  height: 4px;
  display: inline-block;
  background: #c7133e;
  border-radius: 50%;
}

.ellipse-list__item:not(:last-child) {
  margin-right: 10px;
}

.slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-list__item:not(:last-child) {
  margin-right: 18px;
}

.gallery-section {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff5f6), color-stop(0%, white));
  background-image: linear-gradient(#fff5f6 40%, white 0%);
}

.gallery-section__img {
  display: block;
  width: 100%;
}

.header-section {
  padding-top: 6px;
  padding-bottom: 27px;
  background-color: #FFB8CA;
}

.header-section__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 320px;
}

.header-section__burger-menu {
  background-color: transparent;
  border: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #FE98B1;
  overflow: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.mobile-menu__container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 60px;
}

.mobile-menu.is-hidden {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}

.mobile-menu__submit-button {
  width: 209px;
  height: 44px;
  border-radius: 22px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.312;
  display: block;
  margin: 0 auto;
  margin-bottom: 19px;
  border: none;
  background-color: white;
  color: #d41443;
}

.mobile-menu__close-button {
  position: absolute;
  top: 23px;
  right: 28px;
  background-color: transparent;
  border: none;
}

.navigation__item {
  padding-bottom: 12px;
  border-bottom: 1px solid #FFB5C6;
}

.navigation__item:first-child {
  width: 100%;
  border-top: 1px solid #FFB5C6;
  padding-top: 12px;
}

.navigation__item:not(:last-child) {
  margin-bottom: 12px;
}

.navigation__link {
  padding-left: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.302;
  color: white;
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #d41443;
}

.backdrop {
  position: fixed;
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: #907E82;
  opacity: 1;
  z-index: 999;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 96%;
  max-width: 450px;
  max-height: 610px;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #FFEFF3;
  border-radius: 18px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
}

[data-modal-close] {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 23px;
  height: 23px;
  background-color: #FF9CB5;
  border: 1px solid #FFB8CA;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

[data-modal-close]:hover, [data-modal-close]:focus {
  fill: #d41443;
}

.modal__form {
  width: 100%;
}

.modal__provoke-text {
  text-align: center;
  font-weight: 500;
  margin-bottom: 12px;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.modal__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.modal__input {
  height: 30px;
  border: 1px solid #907e82;
  border-radius: 4px;
  padding: 11px 12px 11px 43px;
  -webkit-transition-property: border, fill;
  transition-property: border, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover, .modal__input:focus {
  border: 1px solid #FF9CB5;
  outline: none;
}

.modal__input + .modal__icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__label {
  font-size: 14px;
  margin-bottom: 4px;
}

.modal__comment {
  margin-bottom: 15px;
  width: inherit;
  height: 120px;
  border: 1px solid #907e82;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comment::-webkit-input-placeholder {
  font-size: 14px;
  color: #907e82;
}

.modal__comment:-ms-input-placeholder {
  font-size: 14px;
  color: #907e82;
}

.modal__comment::-ms-input-placeholder {
  font-size: 14px;
  color: #907e82;
}

.modal__comment::placeholder {
  font-size: 14px;
  color: #907e82;
}

.modal__comment:hover, .modal__comment:focus {
  border: 1px solid #e17992;
  outline: none;
}

.modal__checkbox-icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  fill: #FFEFF3;
  border: 2px solid #907e82;
  border-radius: 3px;
  display: inline-block;
}

.modal__checkbox-label {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .modal__checkbox-label {
    font-size: 14px;
  }
}

.modal__checkbox-input {
  vertical-align: middle;
}

.modal__checkbox-input:focus + .modal__checkbox-label .modal__checkbox-icon {
  border: 2px solid #907e82;
}

.modal__checkbox-input:checked + .modal__checkbox-label .modal__checkbox-icon {
  background-color: #907e82;
  border-color: #907e82;
  border-radius: 4px;
}

.modal__checkbox-link {
  color: white;
  border-bottom: 1px solid white;
}

.modal__button {
  width: 209px;
  height: 44px;
  border-radius: 22px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.312;
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  background-color: white;
  color: #907e82;
}

.modal__button:hover, .modal__button:focus {
  border: 1px solid #FF9CB5;
}
/*# sourceMappingURL=main.css.map */