:root {
    --title-color: #D41443;
    --text-color:#FFFFFF;
    --second-title:#FFA5BA;
    --description-color: #000000;
    --second-description-color: #907E82;
    --advantages-color: rgba(255, 245, 246, 1);
    --customer-back-color:rgba(250, 250, 250, 1);
    --repeating-linear-gradients-color:#E1E1E1;
    --quotes-color: rgba(225, 225, 225, 1);
    --ellipse-color:rgba(199, 19, 62, 1);



}