

<section class="hero-section ">


<div id="hero" class="hero-section-unifying-div">

    <div class="hero-section-information">
    <h1 class="hero-section-title">
     <span class="hero-section-title-ice">ice cream <br>
      made with</span> <br>
      <span class="hero-section-title-p">passion</span>
    
    </h1>
    <ul class="hero-section-button">
      <li><button class="hero-section-button-first">Products</button></li>
      <li><button class="hero-section-button-second">How it’s made?</button></li>
    </ul>
     </div>



<div class="hero-section-milk-div">
<img 
class="hero-section-milk-img"
src="./images/mob.img/hero/slider-pic51.png" 
alt="milk">
<p class="hero-section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
</div> </div>

</div>

    <div class="hero-section-ellipse">
        <img 
        class="hero-section-ice-cream" 
        src="./images/mob.img/hero/slider-pic71.png" 
        alt="ice-cream"
        >
      
    </div>

    <div class="hero-section-third-div">
<p class="hero-section-indicators">
  
  <span class="hero-section-numbers"> 16 <span class="p"></span> </span>

  <span class="hero-section-min-text">cafes</span>

 
  <span class="hero-section-numbers"> 23<span class="p"></span></span>

  <span class="hero-section-min-text">food trucks</span>
  
</p>

<img 
class="hero-section-min-img"
src="./images/mob.img/hero/slider-pic41.png" 
alt="">

</div>

</section>